<template name="viewer">
  {{#if playing}}
    <div class="mask"></div>
  {{/if}}
  <div id="viewer">
    <p>
      {{#if playing}}
        Playing
      {{else}}
        Stopped
      {{/if}}
      {{numberOfUtterances}} utterances
      {{progress}} %
    </p>
    <p class="message">
      {{#each utterances}}
        {{> utterance}}
      {{/each}}
    </p>
    {{> dinoGrowing dino}}
  </div>
</template>

<template name="utterance">
  <span class="{{currentUtterance}}">{{word}}</span>&#x20;
</template>

