@gradientStart: #272F27;
@gradientEnd: #27272F;

#viewer {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: @gradientEnd;
  color: #888;

  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(@gradientStart), to(@gradientEnd));

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, @gradientStart, @gradientEnd);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, @gradientStart, @gradientEnd);

  /* IE 10 */
  background: -ms-linear-gradient(top, @gradientStart, @gradientEnd);

  /* Opera 11.10+ */
  background: -o-linear-gradient(top, @gradientStart, @gradientEnd);

}

#viewer .message {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 10;
  font-size: 50px;
  font-size: 9vw;
  font-family: Sans-Serif;
  text-align: center;
}

.current-utterance {
  color: #FFF;
}

.mask {
  z-index: 2;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.8);
}

.info {
  color: #FFF;
  font-size: 50px;
  font-size: 9vw;
  font-family: Sans-Serif;
  text-align: center;
}

.progress {
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 13;
  font-size: 50px;
  font-size: 9vw;
  font-family: Sans-Serif;
  text-align: right;
  color: #Fa0;
}

