<template name="editor">
  <div class="editor">
    {{#if isSubmitting}}
      {{> spinner}}
      <p class="submitting">Submitting your lyrics&hellip;</p>
    {{else}}
      <form>
        <textarea
            class="lyrics"
            maxlength="{{maxCharacters}}"
            name="lyrics"
            rows="3"
            placeholder="{{placeholder}}"
            autofocus></textarea>
        <button class="submit">Submit lyrics</button>
      </form>
      <p class="character-count">
        {{numCharacters}}/{{maxCharacters}}
      </p>
    {{/if}}
  </div>
</template>

