<template name="editorLoggedIn">
  <div>
    <p id="preview">{{preview}}</p>
    <form>
      <fieldset>
        <label for="lyrics">Lyrics</label>
        <input id="lyrics"
               name="lyrics"
               type="text"
               title="Lyrics should be real words, lowercase, and without punctuation."
               placeholder="Your lyrics here"
               value="{{initialLyrics}}"
               spellcheck="true"
               autofocus>
      </fieldset>
      <button disabled={{sumbitDisabled}}>Submit</button>
    </form>
  </div>
</template>

