body {
  margin: 0px;
  padding: 0px;
}

#lyrics {
  background-color: #eeeeee;
  border: none;
  font-size: 5vw;
  margin-left: 5%;
  margin-top: 5%;
  padding: 5%;
  resize: none;
  width: 80%;
}

.submit {
  font-size: 5vw;
  margin-left: 5%;
  margin-top: 2.5%;
  padding: 5%;
  width: 90%;
}

