<template name="editorLoggedIn">
  <form>
    <textarea
        id="lyrics"
        maxlength=140
        rows="3"
        placeholder="Type your lyrics here"
        autofocus
        disabled={{lyricsDisabled}}
    >{{initialLyrics}}</textarea>
    <p class="character-count">
      <span class="{{overCount}}">{{characterCount}}</span>/140
    </p>
    <button class="submit" disabled={{sumbitDisabled}}>
      {{#if submitting}}
        Sending lyrics&hellip;
      {{else}}
        Send lyrics
      {{/if}}
    </button>
    <div>
      {{#if submitting}}
        {{> spinner}}
      {{/if}}
    </div>
  </form>
</template>


